<h1 class="h1">用戶清單</h1>

<ul>
  <% @userslists.each do |u|%>
    <li>
      <%= u.id %>
      <%= link_to u.email, admins_userslist_path(u) %>
      <%= u.created_at.strftime('%F') %>
    </li>
  <% end %>
</ul>